
.App {
  text-align: center;
}
.Header {
  font-size: 4.2rem;
  font-family: 'Kanit', sans-serif;
  color: black;
  text-shadow: 1px 1px 8px red;
}
/* write your parent styles in here for your App.js */





